# Write your CI workflow here
name: CI-Pipeline
on:
  push:
    branches:
      - main
jobs:
  build:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v2
      - name: Build Stage
        run: echo "Build completed successfully!"
  test:
    runs-on: self-hosted
    needs: build
    steps: 
      - name: Test Stage
        run: echo "Test completed successfully!" 
  run-local:
    runs-on: self-hosted 
    needs: test
    steps: 
      - name: Run Local Stage
        run: |
          echo "Starting app on localhost..."